<section class="flex flex-col gap-4">
  <p class="text-2xl font-bold">Total</p>

  <div class="sub-total">
    <span>Subtotal </span>
    <span>{{ _cartService.cartSubTotal() | currency : "BRL" }}</span>
  </div>

  <div class="sub-total">
    <span>Taxas </span>
    <span>{{ _cartService.cartTax() | currency : "BRL" }}</span>
  </div>

  <div class="sub-total">
    <span class="total">Total </span>
    <span class="total">{{ _cartService.cartTotal() | currency : "BRL" }}</span>
  </div>

  <button class="btn btn-primary w-fit"> Comprar </button>
</section>
