<div class="flex flex-col gap-4">
  <div class="flex gap-8">
    <img [src]="cartItem.product.cover" class="h-60 aspect-[3/4]" alt="{{ cartItem.product.name }}" />

    <div class="flex flex-col justify-between gap-4">
      <div class="flex flex-col gap-4">
        <p class="font-bold text-lg"> {{ cartItem.product.name }} </p>

        <p class=""> {{ cartItem.product.description }} </p>

        <p class=""> Valor unitário {{ cartItem.product.price | currency : "BRL" }} </p>

        <p class=""> {{ cartItem.quantity }} unidade(s) </p>

        <p> total de {{ cartItem.product.price * cartItem.quantity | currency : "BRL" }}</p>
      </div>

      <button class="btn btn-secondary w-fit" (click)="onRemove()"> Remover </button>
    </div>
  </div>
</div>
