<section class="max-w-screen-2xl m-auto">
  <article class="flex gap-4 gap-y-16 p-4 flex-wrap justify-start">
    @for (product of products$ | async; track product) {
    <div class="flex flex-col">
      <figure>
        <img [src]="product.cover" class="aspect-[3:4] bg-cover bg-skeleton rounded-lg"
          alt="{{ product.name }}" />
      </figure>

      <div class="flex flex-col gap-4 py-4">
        <div class="flex flex-col gap-2">
          <p class="text-sm text-gray-400">{{ product.description }}</p>
          <p>{{ product.name }}</p>
        </div>

        <div class="text-xl"> {{ product.price | currency : "BRL"}} </div>

        <button class="btn btn-primary w-fit" (click)="addProductToCart(product)">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
    }
  </article>
</section>
