<section class="max-w-screen-2xl m-auto pt-10">
  <form [formGroup]="formProduct" class="flex flex-col gap-10 p-4">
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-extrabold">Cadastrar novo jogo</h2>

      <p>Todos os campos são obrigatórios</p>
    </div>

    <div class="flex gap-8">
      <div class="flex-1 flex flex-col gap-8">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" id="name" formControlName="name" placeholder="" required>
        </div>

        <div class="form-group">
          <label for="cover">Url da capa</label>
          <input type="text" class="form-control" name="cover" id="cover" formControlName="cover" placeholder="https://"
            required>
        </div>

        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" name="description" id="description" formControlName="description"
            required>
        </div>

        <div class="form-group w-1/4">
          <label for="price">Preço R$</label>
          <input type="text" class="form-control" name="price" id="price" formControlName="price" placeholder="99.99"
            required>
        </div>

        <div class="flex gap-4">
          <div class="form-group w-1/4">
            <label for="width">Caixa largura (cm)</label>
            <input type="number" class="form-control" name="width" id="width" formControlName="width" required>
          </div>

          <div class="form-group w-1/4">
            <label for="height">Altura (cm)</label>
            <input type="number" class="form-control" name="height" id="height" formControlName="height" required>
          </div>

          <div class="form-group w-1/4">
            <label for="length">Comprimento (cm)</label>
            <input type="number" class="form-control" name="length" id="length" formControlName="length" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Capa prévia</label>
        @if (imagePreview) {
        <img [src]="imagePreview" alt="cover" class="w-[360px] h-[480px] bg-skeleton rounded-xl cover">
        } @else {
        <div class="w-[360px] h-[480px] bg-skeleton rounded-xl"></div>
        }
      </div>
    </div>

    <div class="w-full flex justify-end items-center gap-4">
      @if (msgSuccess) {
      <p class="text-green-700">Produto criado com sucesso!</p>
      }

      @if (msgError) {
      <p class="text-red-700">Erro ao criar produto!</p>
      }

      <button class="btn btn-secondary" (click)="cancelForm()">Cancelar</button>

      <button class="btn btn-primary" (click)="onSubmit()">Cadastrar</button>
    </div>
  </form>
</section>
