<section class="max-w-screen-2xl m-auto py-10 flex flex-col gap-8">
  <div class="flex flex-col gap-4 p-4">
    <h2 class="text-4xl font-extrabold">Carrinho de produtos</h2>
  </div>

  @if(cartLength > 0){
  <p class="ml-4">Nenhum item selecionado</p>
  }
  @else {
  <div class="px-4 flex gap-8">
    <div class="flex-1">
      <l2-cart-list></l2-cart-list>
    </div>

    <div class="w-1/4 flex flex-col gap-8">
      <l2-cart-delivery></l2-cart-delivery>

      <l2-cart-total-summary></l2-cart-total-summary>
    </div>
  </div>
  }
</section>
